html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body >.tips {
	position:fixed;
	display:none;
	top:50%;
	left:50%;
	z-index:100;
	text-align:center;
	padding:20px;
	width:200px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset, img {
	border:0;
}
address, caption, cite, code, dfn,  th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
a {
	color:#000000;
	text-decoration: none;
}
.left{ float:left}
.right{ float:right}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
legend {
	color:#000;
}

.btn {
	display:block;
	color:#222;
	text-decoration:none;
	font-size:15px;
	/*font-weight:bold;*/
	background-color:#fcfcfc;
	margin:10px 0 10px;
	padding:10px;
	text-align:center;
	cursor:pointer;
}
.icons {
	position:relative;
	border-radius:5px;
	width:25px;
	height:25px;
	overflow:hidden;
}

.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}

.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}

	
/**/
h2 {
	font-size:16px;
}
h3 {
	font-size: 18px;
}
/*cate1*/
#cate1{background-color: #F0EFEF;overflow-x: hidden;}
#cate1 .mainmenu {
	display: block;
    margin: 0 auto;
    padding:0 0 5px 5px;
   
}
#cate1 .mainmenu li {
	width:50%;
	float:left;
	display: block;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate1 .mainmenu li .menubtn {
	display: block;
	overflow: hidden;
	text-decoration:none;
	/*color:#000;*/
	/*background-color: #00ff00;*/
	border-radius: 12px;
	margin: 20px 10px 0 10px;
	/*box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;*/
}

#cate1 .mainmenu li a {
	display:block;
	padding:0px;
	font-size:14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate1 .mainmenu li .menubtn .menumesg {
	padding:0px
}
#cate1 .mainmenu li .menubtn .menuimg {
	/*max-height:106px;*/
	overflow:hidden;
	border-radius: 5px 5px 0 0;
}
#cate1 .mainmenu li div img {
	border:0;
	width:100%;
	border-radius: 5px 5px 0 0;
}
#cate1 .mainmenu li .menutitle {
	text-align:center;
	line-height: 25px;
	text-decoration: none;
	color:#000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#cate3{background-color: #D4E7FC;overflow-x: hidden;}

#todayList {
	display: block; margin: 0 auto;
}

.todayList li a{
	padding:10px 40px 9px 8px; display: block;
}

.todayList li.only3 a{
	padding:10px 40px 9px 15px;display: block;
}

.todayList li:hover {
	background-color:#eeeeee;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}
.todayList li:active {
	background-color:#eeeeee;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}

.todayList li h2 {
	font-size: 16px;
	color:#2f2f2f;
	font-weight:normal;
	height:20px;font-weight:normal;line-height:16px;padding:0;
	max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;
}
.todayList li.only3 h2 {
	padding:0;
}
.todayList li p {
	display: block;
	font-size: 12px;
	color:#9C9C9C;
	line-height: 16px;
	font-weight: normal;
	margin-top: 3px;
	overflow: hidden;
	text-overflow: ellipsis;/*white-space: nowrap;*/
	padding-right:2px;
}
.todayList li.only3 p {
	white-space: nowrap;
}

.todayList li p.onlyheight {
	height:16px; /*margin-bottom:5px*/
}
.todayList li .icon {
	margin-top: -6px;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 14px;
	width: 14px;
	background:url(../img/jiantou.png) no-repeat 0 0 ;
	background-size: 14px 14px;
}

.todayList li.border-top-none {
	border-top:0px solid #DDDDDD
}
.todayList li.border-bottom-none {
	border-bottom:0px solid #DDDDDD
}
#activity-detail{background:#F0EFEF;}

.text em{ font-style:italic}
.showpic img{
    width: 100%;margin-top: 5px;
}
.text img {
    max-width: 100%;
}
.footer .top{
	background-size: 11px auto;
	display: block;
    margin: 0 auto;
    text-indent: 15px;
    width: 85px;
}

/*iscroll*/
.banner {
	width:100%;
	margin:0 auto;
	padding:0;
	background-color:#151515;
}
#wrapper {
	margin:0;
	width:100%;
	height:auto;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	
}

#scroller {
	height:auto;
	float:left;
	padding:0;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller li {
	
	display:block; float:left;
	width:auto; height:auto;
	text-align:center;
	font-size:0px;
	padding:0;
	position:relative;
}
#scroller li a{
	
	display:block;
	padding:0;
	margin:0;
}
#scroller li p{
	position:absolute;
	z-index:2;
	display:block;
	width:100%;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.5);
	color:#F4F4F4;
	font-size:14px;
	text-indent: 55px;
	line-height:24px;
	text-align: left;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:0;
	margin:0;
}
#nav {
	float: right;
    margin-top: -15px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 3;
}

#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
	display: none;
}

#next {
	float:right;
	text-align:right;
}

#indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	display: block;
    margin: 0 8px;
    padding: 0;
    width: auto;
}

#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#888;
	overflow:hidden;
	margin-right:4px;
}

#indicator > li.active {
	background:#DDDDDD;
}

#indicator > li:last-child {
	margin:0;
}

#secondHd{
   width: 100%;
}

/*2,3级导航*/
#menuNav{background:url(../img/product/productBg.jpg) 0 0 repeat; display: block; margin: 0 auto;}

.menuList li {
	display: block;
	color: #00CCCC;
	border-bottom:1px solid #D0E6F3;
	font-weight: bold;
	clear:both;
	/*text-shadow: 0 1px 0 #FFFFFF;*/
	text-decoration: none;
	/*background:#F9F9F9;*/
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	position: relative;
	/*padding:10px 8px;*/overflow:hidden;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset;
	-moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 1) inset;
	-webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 1) inset;
}
.menuList li a{display:block; text-indent:30px; background:url(../img/product/dot.gif) 5px center no-repeat; padding:10px 40px 9px 15px;}
.menuList li.only3 a{
	padding:10px 40px 9px 15px;display: block;
}
.menuList li:hover {
	background: #3EC7FD;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
	color:#F60;
}
.menuList li:active {
	background: #3EC7FD;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}
.menuList li.only3 h2 {
	padding:0;	font-size: 16px;color:#0055A5;
	font-weight:normal;
	height:20px;font-weight:normal;line-height:16px;padding:0;
	max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;
}
.menuList  li.only3 p {
	white-space: nowrap;
	font-size: 16px;color:#0055A5;
}
.menuList li .icon {
	margin-top: -6px;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 14px;
	width: 14px;
	background:url(../img/jiantou.png) no-repeat 0 0 ;
	background-size: 14px 14px;
}
.menuList li.border-top-none {border-top:0px solid #DDDDDD;}
.navMenuTitle {color: #0055A5;padding:10px 5px 10px 5px;front-size:20px;border:1px solid #D0E6F3;border-radius: 15px 15px 2px 0px;}