.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
/*cate1*/
#cate1 {background: url(../img/product/product_bg.jpg);
        overflow-x: hidden;}
#cate1 .mainmenu {
		display: block;
	    width: 400px;
        padding: 0px;
        margin: 60px auto 0px auto;
		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
}
/*
#cate1 .mainmenu li {
	width:25%;
	float:left;
	display: block;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
*/

#cate1 .mainmenu2 {
		display: block;
	    width: 400px;
        padding: 0px;
        margin: 20px auto;
		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
}

cate1 .mainmenu li .menubtn {
	display: block;
	overflow: hidden;
	text-decoration:none;
	/*color:#000;*/
	/*background-color: #00ff00;*/
	/*border-radius: 12px;*/
	/*margin: 20px 20px 10px 0px;*/
	/*box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;*/
}

#cate1 .mainmenu li a {
	display:block;
	padding:0px;
	font-size:14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}

#cate1 .mainmenu2 li a {
	display:block;
	padding:0px;
	font-size:14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate1 .mainmenu li .menubtn .menumesg {
	padding:0px
}
#cate1 .mainmenu li .menubtn .menuimg {
	/*max-height:106px;*/
	overflow:hidden;
	/*border-radius: 5px 0px 0 0;*/
}

#cate1 .mainmenu2 li .menubtn .menuimg {
	/*max-height:106px;*/
	overflow:hidden;
	/*border-radius: 5px 0px 0 0;*/
}
/*
#cate1 .mainmenu li div img {
	border:0;
	width:100%;
	border-radius: 5px 5px 0 0;
}
/*
#cate1 .mainmenu li .menutitle {
	text-align:center;
	line-height: 25px;
	text-decoration: none;
	color:#000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}*/