/*product-toothbrush*/
#tbrush {background: url(../img/product/5.jpg);overflow-x: hidden;}

#tbrush .mainmenu {
		display: block;
	    width: 360px;
        padding: 0px;
        margin: 50px auto 0px auto;
		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
}

#tbrush .mainmenu li  {
	display: block;
	overflow: hidden;
	text-decoration:none;
}

#tbrush .mainmenu li a {
	display:block;
	padding:0px;
	font-size:14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}

#tbrush .mainmenu li .menuimg {
	overflow:hidden;
}